/*
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
}

.tab-content {
  margin-top: 10px;
}

#map-canvas {
  height: 600px;
  width: 100%;
}
