<div class="clearfix">
  <div class="col-md-3 well">
    <%= render 'logs_menu' %>
  </div>
  <div class="col-md-9">
    <div class="alert alert-info">
      Wybierz z menu obok interesujący Cię dziennik, lub utwórz nowy.
    </div>
  </div>
</div>
